<nav class="navbar bg-light">
  <div class="container">
    <a class="nav-link" href="#">link1</a>
    <a class="nav-link" href="#">link2</a>
    <a class="nav-link" href="#">link3</a>
    <a class="nav-link" href="#">link4</a>
  </div>
</nav>