<!--<nav class="navbar bg-light">
   <h1 class="bg-ligth text-black">Snippets!</h1>
  <div class="container">
    <a class="nav-link" href="./">Home</a>
    <a class="nav-link" href="./snippets">Snippets</a>
    <a class="nav-link" href="./snippets/new">New Snippet</a>
  </div>
</nav> -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
   <h3 class="bg-ligth text-black">Snippets!</h3>
    <a class="navbar-brand" href="./">Home</a>
    <a class="navbar-brand" href="./snippets">Snippets</a>
    <a class="navbar-brand" href="./snippets/new">New Snippet</a>
     <a class="navbar-brand" href="./login">Login</a>
  </div>
</nav>