<h1>New Snippet</h1>
<form method="post" action="./snippets/create">
<div class="form-group">
  <input type="text" class="form-control" name="desctiption" placeholder="Enter a new Snippet description here" required="requried" autofocus="autofocus"/>
  <button type="submit" class="btn btn-lg btn-primary"> Create Snippet</button>
</div>
</form>