<div class="d-grid gap-3">
  <h4 class="d-flex justify-content-center p-2">Welcome to Snippets, where you can save your snippets for free!</h4>
</div>
{{#if viewData.snippet}}
  <ul class="list-group gap-3">
    {{#each viewData.snippet}}
    <h6>{{title}} written by {{id}}</h6>
    <li class="list-group-item">{{description}}</li>
  </ul>
  <div class="d-grid gap-2 d-md-block"></div>
  <button type="submit" class="btn btn-lg btn-success"> edit</button>
  <button type="submit" class="btn btn-lg btn-danger"> delete</button>
  </div>
{{/each}}

{{else}}
<tr colspan="2">
  <td class="text-center">No snippets to display.</td>
</tr>
</div>
{{/if}}