<form>
  <div class="mb-3">
    <h3>Login</h3>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-outline-secondary">Login</button>
  <a href="./create-account"><span class="btn btn-outline-secondary">Sign up</span><a>
</form>