<h1 class="mt-3 mb-3">New Snippet</h1>
<form method="post" action="./create">
<div class="form-group">
  <input type="text" 
  class="form-control mt-3 mb-3" 
  name="title" 
  placeholder="Enter a new Snippet description here" 
  required="requried" 
  autofocus="autofocus"/>
</div>
  <h3>Enter a new Snippet code here</h3>

  <div class="form-group">
    <textarea type="text" 
    class="form-control mt-3 mb-3" 
    name="description" 
    placeholder="Enter code here" 
    required="requried"
    cols="100" 
    rows="5" 
    autofocus="autofocus">
    </textarea>
  <!-- <input type="text" class="form-control mt-3 mb-3" name="description" placeholder="Enter code here" required="requried" autofocus="autofocus"/> 
 </div>--> 
  <button type="submit" class="btn btn-lg btn-primary mt-3"> Create Snippet</button>

</form>


