<h1>
  <span class="far fa-trash-alt"> Remove </span>
</h1>

<form method="post" action="./{{viewData.id}}/delete">
<h6>{{viewData.title}} written by {{viewData.author}}</h6>
  <div class="form-group">

<ul class="list-group gap-3">
  <div class="form-floating list-group-item">
      <textarea 
      readonly
      class="form-control-plaintext" 
      id="floatingTextarea" 
      cols="100" 
      rows="5">
      {{viewData.description}}
      </textarea>
  </div>
</ul>
<br>
  <button type="submit" class="btn btn-lg btn-primary" autofocus="autofocus">Delete Snippet</button>
</form>
